
body{
    background-color: rgb(108, 72, 108);
}.butnum{
    width: 400px;
    display:block;
    margin: auto;
}

button{
    width:60px;
    height:40px;
    background-color: white;
    color:white;
    font-weight: 600;
    font-size: 18px;
    margin:15px;
    border:2px ridge white;
    border-radius: 50%;
    background-color: black;
    /* margin-left: 20px;
    margin-top:10px; */
}
button:hover{
    background: linear-gradient(darkblue,violet);
    color:white;
    border:2px solid green
}